//
// Default bot config file
core {
    threadCount=10
    commThreads=5
}

log {
    level="INFO"
}

ops {
    scriptsDirs=["src/main/groovy/bot/ops/", "bot-ext/ops/"]
}

services {
    scriptsDirs=["src/main/groovy/bot/services/", "bot-ext/services/"]
}
