//
// Default bot config file
core {
    threads=10
}

log {
    level="INFO"
}

www {
    docPath="www"
    port=8080
}

ops {
    scriptsDirs=["src/main/groovy/bot/ops/", "bot-ext/ops/"]
}

services {
    scriptsDirs=["src/main/groovy/bot/services/", "bot-ext/services/"]
}
